.block3>div>div>p{
    font-size: 17px;
    margin-top: 5%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1%;
    margin-bottom: 0%;
}
/*----Plits-----*/
.plitsEv>div{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%; 
    
}
.plitsEv>div>img{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%; 
    
}
.plitsEv{
    width: 100%;
    height: 100%;  
}
/*---Plits img -----*/
#plitsImg1{
    background-image: url(../images/Event/eve1.png);
    background-size: 100%;
}
#plitsImg2{
    background-image: url(../images/Event/eve2.png);
    background-size: 100%;
}
#plitsImg3{
    background-image: url(../images/Event/eve3.png);
    background-size: 100%;
}
#plitsImg4{
    background-image: url(../images/Event/eve4.png);
    background-size: 100%;
}
/*--2 buttons--*/
    .block4{
        margin-top: 100px;
        margin-bottom: 100px;
    }