.block3>div>div>p{
    font-size: 17px;
    margin-top: 5%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1%;
    margin-bottom: 0%;
}
/*----Plits-----*/
.plitsEv>div{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%; 
    
}
.plitsEv>div>img{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%; 
    
}
.plitsEv{
    width: 100%;
    height: 100%;  
}
/*---Plits img -----*/
#plitsImg1{
    background-image: url(../images/Evento/eve1.png);
    background-size: 100%;
}
#plitsImg2{
    background-image: url(../images/Evento/eve2.png);
    background-size: 100%;
}
#plitsImg3{
    background-image: url(../images/Evento/eve3.png);
    background-size: 100%;
}
#plitsImg4{
    background-image: url(../images/Evento/eve4.png);
    background-size: 100%;
}
/*------------------*/
@media (max-width: 990px){
    .col-centered{
        float: none;
        margin: 0 auto;
        font-size: 20px;
        visibility: visible;
        }
    }
    .adwtext{
        font-size: 13px;
        color: white;
    }
    .allblock4plates>div>div{
        margin-bottom: 100px
    }
    .block4{
        margin-top: 100px;
        margin-bottom: 100px;
    }