/*--about--*/
.block3>div>div>p{
    font-size: 17px;
    margin-top: 5%;
    padding-left: 0%;
    padding-right: 5%;
    padding-bottom: 1%;
    margin-bottom: 0%;
}
.block3>div{
    padding: 0%;
    background-color: #f2f4f4;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}
/* 3^4 PLITS  */
.plits>div{
    padding: 0%;
    margin: 0%;
}
.plits>div>img{
    width: 100%;
    height: auto;
    opacity:0.8;

}
.plits>div>h2{
    position: absolute;
	top	: 20px;
	left: 20px;
    width: 100%;
    color: #ffffff;
    font-size: 30pt;
    padding: 10px;
    
}
.plits>div>h4{
    position: absolute;
	top	: 60px;
	left: 20px;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    transition: opacity .5s;
    opacity:0;
}
.plits>div:hover>h4{
    position: absolute;
	top	: 60px;
	left: 20px;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    opacity:1   ;

}

.plits>div>h3{
    color: #ffffff;
    font-size: 20pt;
    top	: 20px;
	left: 20px;
    width: 100%;
}

