.block3>div>div>p{
    font-size: 17px;
    margin-top: 5%;
    padding-left: 0%;
    padding-right: 5%;
    padding-bottom: 1%;
    margin-bottom: 0%;
}
.block3>div{
    padding: 0%;
    background-color: #f2f4f4;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}
/* 3^4 PLITS  */
.plits>div{
    padding: 0%;
    margin: 0%;
}
.plits>div>img{
    width: 100%;
    height: auto;
    opacity:0.8;
    max-width: ;
}
.plits>div>h2{
    position: absolute;
	top	: 20px;
	left: 20px;
    width: 100%;
    color: #ffffff;
    font-size: 30pt;
}
.plits>div>h3{
    color: #ffffff;
    font-size: 20pt;
    top	: 20px;
	left: 20px;
    width: 100%;
}

/* ------------*/
@media (max-width: 990px){
.col-centered{
    float: none;
    margin: 0 auto;
    font-size: 20px;
    }
}
.adwtext{
    font-size: 13px;
    color: white;
}
.bottomplatestext{
    background-color: #f2f4f4;
}
.bottomplatestext>div{
    margin-top: 100px;
    margin-bottom: 100px;
}
.blockplates{
    background-color: white;
}
.allblock4plates{
    background-color: white; 
}
.zoom{
    margin-top: 20px;
    margin-bottom: 20px;
}
.block2{
    padding-bottom: 40px;
    padding-top: 40px;
}
.block2>div{
    font-size: 18px;
}
.block2>div>div>div>a>li{
    color: white;
    font-weight: bold;
}
.block2{
    background-image: url(../images/Marketing/Markservic.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top:10px;   
    margin-bottom: 100px;
    
}

