/*--main--*/
h1{
    size: 15pt;
}
/*--about--*/
.about{
    background-color: #f2f4f4   ; 
    padding: 3%;
    padding-bottom: 50px;
}
.about>div{
    background-color: unset;
}
.about>div>div>p{
    margin: 3%;
}
/*--plits--*/
.plitsSoftware>div>div>h1{
    text-align: center;
}